.itemCenter{
    justify-content: center;
    align-items: center;
}
.endProfile{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap:20px
}
.notification{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    font-size: xx-small;
    color: white;

}